<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CandyTodo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CF5E8AB228A8D98007BF40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF5E8BF228A8D9A007BF40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF5E8CA228A8D9A007BF40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
